.activeColor{
  background: #8ad4ff!important;
}
.task-popup{
    background: #FFF;
    border-radius: 16px;
    position: fixed;
    top: 25%;
    right:50%;
    
  } 
  /* Затемнённый фон */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* поверх всего */
}

/* Контент попапа */
.card-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

  .card-content{
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  }
  .card-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .title-change-task{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #333;
  }
  hr{
    margin: 16px 0;
    background: #EAEAEA;
    height: 2px;
    border: 1px solid #EAEAEA;;
  }
  .popup-input{
    font-family: PT Sans Caption;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400px;
    padding: 16px;
    width: 327px;
    height: 52px;
    border: 1px solid #F4F4F4;
    border-radius: 24px;
  
  }
  .btn-popup-close{
    border: none;
    background: transparent;
    cursor: pointer;
  
  }
  .btn-popup-apply,.btn-popup-delete{
    line-height: 24px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    font-family: PT Sans Caption;
    cursor: pointer;
  }
  .btn-popup-apply{
    padding: 8px 24px;
    color: #FFFFFF;
    background: #FF6600;
    border: 1px solid #FF6600 ;
  }
  .btn-popup-delete{
    padding: 8px 32px;
    color: #FF6600;
    background: #FFFFFF;
    border: 2px solid #FF6600;
  }
  .btns-card{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  .block-status{
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  

@media (max-width: 1220px) {
  
}

@media (max-width: 992px) { 


} 

@media (max-width: 640px) { 
  .card-content {
    padding: 16px;
    width: 95%;
  }

 
}